.grave, .graveImg{
  border-radius: 130px 130px 5px 5px!important;
  background-color: rgb(169, 176, 179);

  h5{
    color: rgb(109, 113, 116);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.705);
  }
}

.grave { 
  box-shadow: 3px 3px 1px rgb(120, 125, 128);
}